[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=pixiv
Exec=/usr/bin/single-instance /opt/pixiv/bin/pixiv
Icon=/usr/share/icons/hicolor/80x80/apps/pixiv80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
